@page "/"
@page "/home"
@using AspDigitalMemoSlip.Blazor.Models;
@using Blazored.LocalStorage;
@using DTOClassLibrary.DTO.Memo
@using Microsoft.AspNetCore.Authorization
@using System.Text.Json;
@using System.Text;
@using Microsoft.AspNetCore.WebUtilities;
@inject HttpClient Http
@inject NavigationManager navigationManager
@inject ILocalStorageService localStorage

@attribute [Authorize]

<AuthorizeView>
    <Authorized>
<body>
<main>
    <h1 style="margin-bottom: -20px;">Your Current Confirmed Memos</h1>
    <div class="list-container">

         <div class="list-group">
                 @if (memos != null)
                 {
                     @foreach (var memo in memos)
                     {
                        <a @onclick="() => RedirectToDetailPage(memo.Id)" class="list-group-item list-group-item-action flex-column align-items-start active">
                             <div class="d-flex w-100 justify-content-between">
                                 <h5 class="mb-1">Consigner: @memo.Consigner.Name</h5>
                                 <small>Creation date: @GetDaysAgo(memo.CreateDate)</small>
                             </div>
                             <p class="mb-1">Amount of products in Memoslip: @memo.Products.Count</p>
                             <small>@(memo.TermsAccepted ? "Accepted" : "Waiting for Consigner's confirmation'")</small>
                         </a>
                     }
                 }
         </div>
    </div>
</main>
</body>
    </Authorized>
    <NotAuthorized>
        <div class="text-center">
            <p class="text-danger" style="font-size: 1.5rem;">Unauthorized. Please log in.</p>
            <div class="button">
                <a class="btn btn-primary btn-lg" href="/login">Login</a>
            </div>
        </div>

    </NotAuthorized>
</AuthorizeView>
<style>
    body{
      
    }


    main{
        width: 100vw;
        height: 50vh;
    }

    .list-container{
        width : 50%;
        height : 100%;
        margin : 5rem auto auto auto;
        border : solid 1px lightgrey;
        border-radius : 2rem;
    }
    ul{
        width : 90%;
        margin : auto;
        list-style : none;
    }
    li {
        border-radius : 1rem;
        border : 1px solid lightgrey;
        padding: 1rem;
        margin : 1rem;
    }

    li :hover {
            border: 10px solid blue;
        }

    h1{
        text-align : center;
        
    }
</style>

@code {
    private string memoUrl = "https://localhost:7001/api/Memo/";
    private List<MemoDTO> memos;
    private UserInfo userInfo = new UserInfo();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await Http.GetAsync($"{Http.BaseAddress}/notifications");
            memos = await Http.GetFromJsonAsync<List<MemoDTO>>(memoUrl);

            await GetUserInfo();

            memos = memos.Where(m => m.ConsigneeId == userInfo.Id).ToList();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

    private async Task GetUserInfo()
    {
        var token = await localStorage.GetItemAsync<string>("authToken");
        if (!string.IsNullOrEmpty(token))
        {
            var claims = ExtractClaimsFromToken(token);
            if (claims != null)
            {
                FillUserInfoFromClaims(claims);
            }
        }
    }

    private Dictionary<string, object> ExtractClaimsFromToken(string token)
    {
        var parts = token.Split('.');
        if (parts.Length == 3)
        {
            var payload = parts[1];
            var jsonPayload = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(payload));
            return JsonSerializer.Deserialize<Dictionary<string, object>>(jsonPayload);
        }
        return null;
    }

    private void FillUserInfoFromClaims(Dictionary<string, object> claims)
    {
        userInfo.Id = claims["nameid"].ToString();
        userInfo.Username = claims["unique_name"].ToString();
        userInfo.Name = claims["name"].ToString();
        userInfo.PhoneNumber = claims["phone_number"].ToString();
        userInfo.VatNumber = claims["vat_number"].ToString();
        userInfo.InsuranceNumber = claims["insurance_number"].ToString();
        userInfo.InsuranceCoverage = claims["insurance_coverage"].ToString();
        userInfo.IdExpireDate = claims.ContainsKey("id_expire_date") ? DateTime.Parse(claims["id_expire_date"].ToString()).ToString("dd-MM-yyyy") : null;
        userInfo.IdNumber = claims["id_number"].ToString();
        userInfo.IdWillExpire = claims.ContainsKey("id_will_expire") ? bool.Parse(claims["id_will_expire"].ToString()) : (bool?)null;
        userInfo.MfaEnabled = claims.ContainsKey("mfa_enabled") ? bool.Parse(claims["mfa_enabled"].ToString()) : false;
        userInfo.Role = claims["role"].ToString();
    }
    private string GetDaysAgo(DateTime createDate)
    {
        TimeSpan timeDifference = DateTime.Now - createDate;
        int days = (int)timeDifference.TotalDays;

        if (days == 0)
        {
            return "Today";
        }
        else if (days == 1)
        {
            return "Yesterday";
        }
        else
        {
            return $"{days} days ago";
        }
    }
     

    private void RedirectToDetailPage(int memoId)
    {
        navigationManager.NavigateTo($"/memo/{memoId}");
    }
}
