@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<p>This is a weather forecast platform from which you can see the weather for the next 7 days. To see an overview of the weather, please go to the following link: <a href="/weather">See weather</a>.</p>

